body {
  background-color: rgb(209, 238, 209);
  font-family:'Times New Roman', Times, serif;
}

.hidden{
  display: none;
}

#output{
  color: red;
  font-size: 20px;
}

#ex-rates{
  font-size: 20px;
}